#main_div{
    display: flex;
    justify-content: space-around;
    margin: 5px;
}

#main_div >div{
    width: 300px;
    height: 100px;
    border-radius: 5px;
    color: darkslategray;
    text-align: left;
    font-size: large;
    padding: 15px;
}
#div1{
    background-color: skyblue;
}
#div2{
    background-color: lightgreen;
}
#div3{
    background-color: lightsalmon;
}